<p>It was a @Model.GetAdjective(), cold November day. I woke up to the @Model.GetAdjectiveOne() smell of @Model.GetTypeofBird() roasting in the @Model.GetRoomInAHouse() downstairs.</p>
<p>I @Model.GetPastTenseVerb() down the stairs to see if I could help @Model.GetVerb() the dinner.</p>
<p>My mom said, "See if @Model.GetNounOne() needs a fresh @Model.GetNoun()"</p>
